<!DOCTYPE html>
<html ng-app="ngd">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Angularjs-directives by allenhwkim</title>


    <script src="https://code.angularjs.org/1.3.0-rc.2/angular.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-directives/master/ngd-code.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-directives/master/ngd-plnkr.js"></script>
  <script src="http://run.plnkr.co/plunks/Y2IcW6Uo6qh49hSu4mXE/watch-viewport.js"></script>

  <style>
    #navigation {position:fixed; width: 40%; height:100%}
    #navigation .active { background: #333; color: #fff}
    #sections {margin-left: 40%}
    .section  {height: 500px;}
    .odd {background:#333; color: #fff;};
  </style>
</head>

<body watch-viewport-selector="a[id]">

  <!--
  <div id="navigation"
    watch-viewport-nav-selector="a[href]"
    watch-viewport-nav-class="active">
    <a ng-repeat="no in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"
      href="#section{{no}}"> section {{no}} <br/> </a>
    <br/>
  </div>
  
  <div id="sections">
    <div ng-repeat="no in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" 
      ng-class-odd="'odd'">
      <a id="section{{no}}" watch-viewport></a>
      <div class="section">Section {{no}}</div>
    </div>
  </div>
  -->

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h3> Welcome to Collection of AngularJs Directives, 'ngd-*'. </h3>

          <p>
            Directives are very essential part in AngularJs, and we don't want to include so many 
            javascripts page by page for each directive. This collection provides you to include 
            only one script file ngd.min.js for full benefit of all directives:
          </p>

          <p>
            To use this in your app, simply include javascript
            <pre><code ngd-code>
              &lt;script src="ngd.js">&lt;/script>
            </code></pre>
            and, ngd module
            <pre><code ngd-code>
              var myApp = angular.module('myApp', ['ngd']);
            </code></pre>
          </p>


        </section>

        <aside id="sidebar">
          <a href="https://github.com/allenhwkim/angularjs-directives/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/allenhwkim/angularjs-directives/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p>
            Collections are;
            <ul>
              <li><a href="#ngd-code">ngd-code</a>
              <li><a href="#ngd-auto-height">ngd-auto-height</a>
            </ul>
          </p>

          <p class="repo-owner"><a href="https://github.com/allenhwkim/angularjs-directives"></a> is maintained by <a href="https://github.com/allenhwkim">allenhwkim</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>
</body>
</html>

