<a id="ngd-markdown-preview"></a> 
<h2>
  ngd-markdown-preview
  <a href="https://rawgit.com/allenhwkim/angularjs-directives/master/ngd-markdown-preview.js" download="ngd-markdown-preview.js">Download</a>
</h2>

<p>
Provides a service, called `Markdown`, to preview markdown text inside an element
</p>

<h3>Example</h3>
<!-- plnkr: http://plnkr.co/edit/YaIPKqaLUAK5oKUHNBqw?p=preview -->
<div ngd-plnkr-scope>
  <div ngd-plnkr-lib src="http://code.angularjs.org/1.2.5/angular.js" />
  <div src="http://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></div>
  <div ngd-plnkr-lib src="https://rawgit.com/allenhwkim/angularjs-directives/master/ngd-markdown-preview.js" />
  <div ngd-plnkr-show></div>
  <script ngd-plnkr-code="js">
    function MyCtrl($scope, Markdown){
      $scope.Markdown = Markdown;
      $scope.markdown = ""+
         "Header\n" +
         "======\n"+
         "**bold**\n"+
         "markdown text goes here\n";
    };
  </script>
  <div ngd-plnkr-code="html">
    <div ng-controller="MyCtrl">
       <textarea ng-model="markdown" rows="4">
       </textarea>
       <button ng-click="Markdown.preview(markdown, '#preview')">
         Preview
       </button>
       <div id="preview">
       Markdown will be previewed here.
       </div>
    </div>
   </div>
  </div>
</div>
